<div class="container mx-auto px-4">
  <h1 class="text-3xl font-bold text-center my-8">Candidates for <%= @platform_product.product.title %> on <%= @platform_product.platform.name %></h1>

  <ul class="space-y-6">
    <% @candidates.each do |candidate| %>
      <li class="flex items-start border p-4 rounded shadow-md">
        <div class="w-1/3">
          <%= image_tag candidate.image_url, class: "max-w max-h object-cover rounded" %>
        </div>
        <div class="ml-4 w-2/3">
          <h2 class="text-xl font-semibold"><%= candidate.title %></h2>
          <p class="underline text-blue-600">
            <%= link_to "View Book", candidate.url, target: "_blank" %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
